* {
  box-sizing: border-box;
}

#body {
  min-height: 100vh;
  background-color: #006699;
  position: relative;

  #header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    height: 120px;

    #logo {
      width: 10%;
    }

    #footer {
      position: absolute;
      bottom: 0px;
      height: 20px;
      margin: auto 0;
    }
  }
}
